html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 80%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

body {
  background: url("/assets/img/pattern.jpg");
}

nav {
  width: 100%;
  position: fixed;
  z-index: 9999;
}

nav .navigation-wrapper {
  margin: 0 auto;
  width: 1024px;
  height: 50px;
  font-family: Lietz;
  font-style: 14px;
  text-transform: uppercase;
}

nav .navigation-wrapper ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navigation-wrapper li {
  margin-right: 2.5%;
  margin-left: 2.5%;
}

nav .navigation-wrapper li a {
  text-decoration: none;
  color: black;
}

nav .navigation-wrapper .deelnemen-nav {
  margin-left: 50%;
}

nav .navigation-wrapper .boek-nav {
  width: 10%;
}

.header-wrapper {
  width: 100%;
  height: 300px;
  background: url("/assets/img/paper-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
}

.header {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lietz;
  font-size: 4.5em;
}

.header .texts {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 6.6rem;
}

.header .texts h1 {
  margin: 0 auto;
}

.header .neemdeel {
  color: #E8C51E;
  width: 55%;
  padding: 10px 0px 8px 0px;
  background-color: #21261B;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.header .kansop, .header .stapelsboeken {
  color: #FEFEFE;
  padding: 10px 0px 8px 0px;
  background-color: #21261B;
  width: 90%;
}

.header .kansop {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.header .stapelsboeken {
  width: 82%;
  -webkit-transform: rotate(0.7deg);
          transform: rotate(0.7deg);
}

.diagonal {
  height: 40px;
  width: 100%;
  background-color: #21261B;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.deelnemendiagonal {
  margin-top: -2rem;
  height: 100px;
}

.title {
  font-family: Lietz;
  text-transform: uppercase;
  background-color: black;
  color: #FEFEFE;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 5px;
  font-size: 2rem;
}

.inputfield {
  background-color: transparent;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 3rem;
  color: #FEFEFE;
  font-family: Gothic;
  font-size: 1.6rem;
  border: none;
  border-bottom: #FEFEFE 2px solid;
  width: 100%;
  outline: none;
}

.inputfield:focus {
  border-bottom: #E8C51E 2px solid;
}

.main-container {
  margin-top: -1rem;
  padding-top: 3rem;
  width: 100%;
  background-color: #21261B;
}

.main-container .login-section {
  width: 1024px;
  margin: 0 auto;
}

.main-container .login-section header {
  width: 80%;
  margin: 0 auto;
}

.main-container .login-section header .login-title {
  color: #E8C51E;
  background-color: black;
  width: 100px;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  margin-left: 4rem;
  padding: 10px 10px 10px 10px;
}

.main-container .login-section header .upload-title {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  color: #FEFEFE;
  font-size: 1.2rem;
  margin-left: 3rem;
  background-color: black;
  width: 120px;
  padding: 10px 10px 10px 10px;
}

.main-container .login-section .login-form {
  width: 65%;
  margin: 0 auto;
  background-color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 3rem;
}

.main-container .login-section .login-form .login-submit {
  background-color: #E8C51E;
  border: none;
  color: black;
  font-size: 1.8rem;
  font-family: Lietz, helvetica, arial, sans-serif;
  padding: 10px;
  position: absolute;
  left: 90%;
  bottom: 0;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.main-container .register-section {
  width: 1024px;
  margin: 0 auto;
  padding-top: 15rem;
  padding-bottom: 6rem;
}

.main-container .register-section header {
  width: 80%;
  margin: 0 auto;
}

.main-container .register-section .registreer-title {
  margin-left: 4rem;
  width: 250px;
  padding: 10px;
  color: #E8C51E;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.main-container .register-section .neemdeel-title {
  margin-left: 3rem;
  width: 180px;
  font-size: 1.4rem;
}

.main-container .register-section .register-form {
  background-color: black;
  position: relative;
  padding: 3rem;
  width: 90%;
  margin: 0 auto;
}

.main-container .register-section .register-form section {
  width: 60%;
  color: #FEFEFE;
  font-family: Gothic, helvetica, arial;
  line-height: 150%;
  font-size: 1.4rem;
}

.main-container .register-section .register-form section strong {
  color: #E8C51E;
}

.main-container .register-section .register-form .fieldsets {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.main-container .register-section .register-form .fieldsets fieldset {
  width: 45%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main-container .register-section .register-form .fieldsets label {
  color: #FEFEFE;
  opacity: 0.4;
  font-family: Lietz, helvetica, arial, sans-serif;
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  font-size: 3rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-container .register-section .register-form input[type='submit'] {
  background-color: #E8C51E;
  border: none;
  color: black;
  font-size: 1.8rem;
  font-family: Lietz, helvetica, arial, sans-serif;
  padding: 10px;
  position: absolute;
  left: 90%;
  bottom: 0;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.home-wrapper {
  height: 500px;
  width: 100%;
}

.header-home {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lietz, helvetica, arial;
  font-size: 4.5em;
  text-transform: uppercase;
  position: relative;
}

.header-titles {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20.5rem;
  z-index: 40;
}

.wewantyou, .tospread, .animalism {
  background-color: #21261B;
  padding: 10px 0px 8px 0px;
  color: #FEFEFE;
  margin: 0 auto;
}

.wewantyou {
  width: 70%;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.tospread {
  width: 60%;
}

.animalism {
  width: 85%;
  font-size: 7rem;
  color: #E8C51E;
  -webkit-transform: rotate(-0.7deg);
          transform: rotate(-0.7deg);
}

.pig-foto {
  width: 60%;
  height: 80%;
  left: 50%;
  top: 50%;
  background-color: blue;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.introtext {
  width: 50%;
  line-height: 150%;
  font-family: Gothic, helvetica, arial;
  color: #E8C51E;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
}

.diagonalbottom {
  margin-top: -4rem;
  height: 100px;
}

.stappen {
  width: 1024px;
  margin: 0 auto;
  margin-top: 3rem;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stappen .stap {
  width: 60%;
  margin-bottom: 8rem;
  margin-top: 8rem;
}

.stappen .stap article {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.stappen .stap p {
  background-color: black;
  font-family: Gothic, helvetica, arial;
  color: #FEFEFE;
  width: 70%;
  font-size: 1.2rem;
  padding: 1.5rem;
  line-height: 150%;
}

.stappen .stap p strong {
  color: #E8C51E;
}

.stappen .article-stap-title, .stappen .article-sub-title {
  color: #E8C51E;
  background-color: black;
  line-height: 150%;
  padding: 10px 5px 8px 5px;
  font-size: 2rem;
  text-align: center;
  font-family: Lietz, helvetica, arial;
}

.stappen .article-stap-title {
  width: 90%;
  -webkit-transform: rotate(-1.5deg);
          transform: rotate(-1.5deg);
  color: #FEFEFE;
}

.quote {
  width: 100%;
  margin-top: 2rem;
  height: 350px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote .quote-wrapper {
  width: 60%;
  margin: 0 auto;
}

.quote .quote-wrapper .the-quote, .quote .quote-wrapper .quote-author {
  text-align: center;
  font-family: Gothic, helvetica, arial;
  font-size: 1.6rem;
  line-height: 150%;
  -webkit-transform: rotate(-1.5deg);
          transform: rotate(-1.5deg);
}

.quote .quote-wrapper .quote-author {
  font-size: 1.2rem;
  -webkit-transform: rotate(-1.5deg);
          transform: rotate(-1.5deg);
}

.quote .quote-wrapper .boek-button {
  background-color: black;
  text-decoration: none;
  padding: 12px 5px 12px 5px;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  width: 200px;
  font-family: Lietz, helvetica, arial;
}

.quote .quote-wrapper .boek-button a {
  color: #E8C51E;
  text-decoration: none;
}

.concurenten {
  width: 100%;
  background-color: #252227;
  -webkit-transform: rotate(-1.5deg);
          transform: rotate(-1.5deg);
  padding-bottom: 3rem;
}

.concurenten h4 {
  -webkit-transform: rotate(1.5deg);
          transform: rotate(1.5deg);
  margin: 0 auto;
  background-color: black;
  font-size: 2rem;
  text-align: center;
  padding: 20px 5px 20px 5px;
  font-family: Lietz, helvetica, arial;
  color: #E8C51E;
  width: 400px;
}

.concurenten .concurenten-wrapper {
  width: 1024px;
  margin: 0 auto;
  margin-top: 3rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: rotate(1.5deg);
          transform: rotate(1.5deg);
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.concurenten .concurenten-wrapper li {
  width: 30%;
  height: 200px;
  background-color: red;
}
