html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 80%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

body {
  background: url("/assets/img/pattern.jpg");
}

nav {
  width: 100%;
  position: fixed;
  z-index: 9999;
}

nav .navigation-wrapper {
  margin: 0 auto;
  width: 1024px;
  height: 50px;
  font-family: Lietz;
  font-style: 14px;
  text-transform: uppercase;
}

nav .navigation-wrapper ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navigation-wrapper li {
  margin-right: 2.5%;
  margin-left: 2.5%;
}

nav .navigation-wrapper li a {
  text-decoration: none;
  color: black;
}

nav .navigation-wrapper .deelnemen-nav {
  margin-left: 50%;
}

nav .navigation-wrapper .boek-nav {
  width: 10%;
}

.header-wrapper {
  width: 100%;
  height: 300px;
  background: url("/assets/img/paper-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
}

.header {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lietz;
  text-transform: uppercase;
  font-size: 4.5em;
}

.header .texts {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 6.6rem;
}

.header .texts h1 {
  margin: 0 auto;
}

.header .neemdeel {
  color: #E8C51E;
  width: 55%;
  padding: 10px 0px 8px 0px;
  background-color: #21261B;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.header .kansop, .header .stapelsboeken {
  color: #FEFEFE;
  padding: 10px 0px 8px 0px;
  background-color: #21261B;
  width: 90%;
}

.header .kansop {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.header .stapelsboeken {
  width: 82%;
  -webkit-transform: rotate(0.7deg);
          transform: rotate(0.7deg);
}

.diagonal {
  height: 40px;
  width: 100%;
  background-color: #21261B;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.title {
  font-family: Lietz;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 5px;
  font-size: 2rem;
}

.main-container {
  margin-top: -1rem;
  padding-top: 3rem;
  width: 100%;
  background-color: #21261B;
}

.main-container .login-section {
  width: 1024px;
  margin: 0 auto;
}

.main-container .login-section header {
  width: 80%;
  margin: 0 auto;
}

.main-container .login-section header .login-title {
  color: #E8C51E;
  background-color: black;
  width: 12%;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  margin-left: 2rem;
}

.main-container .login-section header .upload-title {
  color: #FEFEFE;
  font-size: 1.2rem;
  background-color: black;
  width: 14%;
}

.main-container .login-section .login-form {
  width: 65%;
  margin: 0 auto;
  background-color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

.main-container .login-section .login-form input[type="email"], .main-container .login-section .login-form input[type="password"] {
  background-color: transparent;
  margin-bottom: 3rem;
  padding-bottom: 2px;
  color: #FEFEFE;
  font-family: Gothic;
  font-size: 1.6rem;
  border: none;
  border-bottom: #FEFEFE 2px solid;
  width: 100%;
}

.home-wrapper {
  height: 400px;
  width: 100%;
  background-color: blue;
}

.header-home {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lietz;
  font-size: 4.5em;
  text-transform: uppercase;
}

.header-titles {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20rem;
}

p {
  font-family: Gothic;
  padding: 20px;
  line-height: 2rem;
  color: #FEFEFE;
  background-color: #000;
  margin-bottom: 2rem;
}

h3 {
  margin-bottom: 2rem;
  padding: 1rem;
  color: #E8C51E;
  font-family: Lietz;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #000;
}

.picture {
  width: 800px;
  background-color: red;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.boek {
  margin-top: -1rem;
  padding-top: 3rem;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.boek ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.boek ul li {
  font-family: Lietz;
  margin-right: 2rem;
  padding: 0.5rem;
  color: #fff;
  background-color: #000;
  margin-bottom: 2rem;
}

.boek p {
  width: 40%;
}

.schrijver .qoute {
  margin: 5rem auto;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-family: Lietz;
  width: 50%;
  line-height: 2rem;
}

.schrijver .qoute p {
  width: 100%;
}

.schrijver .orwell {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
}

.schrijver h3 {
  margin-bottom: 2rem;
  padding: 1rem;
  color: #E8C51E;
  font-family: Lietz;
  background-color: #000;
}

.schrijver p {
  width: 60%;
}

.reviews .items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reviews .items div {
  padding-right: 2rem;
}

.reviews .reviewer {
  color: #E9C600;
  font-family: Lietz;
  text-transform: uppercase;
  text-align: right;
}
