//////////
//BOEK
//////////

.boekimg{
  position: absolute;
}
.boek{
  display:flex;
  flex-direction:row;
  position:relative;
  z-index:10;

  .tekst{
    margin-left:40%;
  }

  ul{
    display:flex;
    flex-direction:row;
  }
  ul li{
    font-family: $titel;
    margin-right:2rem;
    padding:1rem;
    color:$wit;
    background-color: #000;
    margin-bottom:2rem;
    text-transform: uppercase;
    line-height:2rem;
  }
  p{
    width:100%;
    background-color:black;
  }
  h3{
    @include titlepadding
  }
}

.schuinboek{
  margin-top:-130px;
}

//////////
//SCHRIJVER
//////////

.schrijver{
  .quote2{
    margin: 5rem auto;
    text-align:center;
    width: 1024px;
    transform: rotate(-1.5deg);

  p{
    width: 65%;
    margin: 0 auto;
    background-color:black;
    padding:10px;
  }

  .author2{
    width: 25%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin-top: 1rem;
    transform: rotate(1.5deg);
  }
}

.orwell-block{
  width: 65%;
}

.orwell{
  display:flex;
  flex-direction:row;
  width: 1024px;

  h3{
    margin-bottom: 2rem;
    @include titlepadding;
  }

  p{
    //width:90%;
    background-color:black;
  }
}

.awards{
  //width: 35%;
  text-align: center;
  h3{
    margin: 0 auto;
    @include titlepadding;
  }
  p{
    margin: 0 auto;
  }
}

.medal{
  position:relative;
  z-index:100;
}

/////////
//REVIEWS
/////////

.reviews{
  transform: skewY(2deg);
  .items{
    display:flex;
    flex-direction:row;
  }

  .items div{
     padding:2rem;

     p{
      background-color: black;
     }
  }

  .reviewer{
    @include titlepadding
    color:#E9C600;
    text-align:right;
    //margin-left:65%;
    transform: rotate(1.5deg);
  }

  h3{
    margin:2rem;
    @include titlepadding
  }

}
