.cms-container{
  p, h1, h2, h3, h4, h5, li{
    visibility: visible;
  }
  table{
    width: 80%;
    margin: 0 auto;
    font-family: Helvetica neue, helvetica, arial, sans-serif;
    thead{
      background-color: black;
      color: white;
      tr th{
        padding: 2rem;
      }
    }
    .status{
      font-weight: bold;
    }
    tbody{
      tr{
        background-color: $wit;
      }
      tr td{
        text-align: center;
        padding: 1rem;
      }
    }
  }
}
