.deelnemerfotos{
  width: 1024px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;

  ul{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    li{
      margin-top: 20px;
      width: 32%;
      .img-wrapper{
        width: 100%;
        filter: grayscale(100%);
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 200px;
      }
    }
  }
  .article-titles{
    position:relative;
    margin-top: -50px;
  }
  .article-stap-title, .article-sub-title{
    font-size: 1rem;
    @include titlepadding();
    text-align: left;
  }
  .article-stap-title{
  }
}

.deelnemersonderaan{
  @include centerdesktop;
  position: relative;
  z-index:10;
  ul{
    margin-top:-100px;
    height:200px;
    display:flex;
    justify-content:center;
    background: url("/asse tts/img/fototoestel.png") no-repeat;
    background-position: right;
  }
  li{
    margin-top:100px;
    font-family: $titel;
    padding:20px;
    font-size: 2rem;
    color:#fff;
  }

}



