
  .header{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: $titel;
    text-transform: uppercase;
    font-size: 4.5em;
    .texts{
      text-align: center;
      z-index: 100;
      margin-top: 6.6rem;
      h1{
        margin: 0 auto;
      }
    }
    .neemdeel{
      color: $geel;
      @include titlepadding();
      background: url('/assets/img/groenebg1.png') repeat;
      transform: rotate(-3deg);
    }
    .kansop, .stapelsboeken{
      @include titlepadding();
      color: $wit;
      background: url('/assets/img/groenebg1.png') repeat;
    }
    .kansop{
      transform: rotate(-1deg);
    }
    .stapelsboeken{
      transform: rotate(0.7deg);
    }
  }
  //END HEADER

.diagonal{
  height: 100px;
  width: 100%;
  background-color: $groen;
  transform: rotate(-1deg);
}

.deelnemendiagonal{
  margin-top: -2rem;
  height: 100px;
}

.title{
  font-family: $titel;
  text-transform: uppercase;
  background-color: black;
  color: $wit;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 5px;
  font-size: 2rem;
}

.inputfield{
  background-color: transparent;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 3rem;
  color: $wit;
  font-family: $tekst;
  font-size: 1.6rem;
  border: none;
  border-bottom: $wit 2px solid;
  width: 100%;
  outline: none;
  &:focus{
    border-bottom: $geel 2px solid;
  }
}

.badinput{
  border-bottom: #CE0000 2px solid;
}

.main-container{
  .login-section{
    @include centerdesktop();
    header{
      width: 50rem;
      margin: 0 auto;
      .login-title{
        color: $geel;
        background-color: black;
        transform: rotate(-1deg);
        display: inline-block;
        margin-left: 1rem;
        padding: 10px;
      }
      .upload-title{
        color: $wit;
        font-size: 1.2rem;
        background-color: black;
        padding: 10px;
        display: inline-block;
      }
    }
    .login-form{
      @include centerdesktop;
      width: 50rem;
      background-color: black;
      margin-top: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 3rem;
      .login-submit{
        background-color: $geel;
        border: none;
        color: black;
        font-size: 1.8rem;
        font-family: $titel;
        padding: 10px;
        position: absolute;
        left: 90%;
        bottom: 0;
        transform: rotate(-3deg);
      }
    }
  }
  .register-section{
    @include centerdesktop;
    padding-top: 15rem;
    padding-bottom: 6rem;
    position:relavive;
    header{
      width: 90%;
      margin: 0 auto;
    }
    .registreer-title{
      margin-left: 1rem;
      display: inline-block;
      padding: 10px;
      color: $geel;
      transform: rotate(-3deg);
    }
    .neemdeel-title{
      font-size: 1.4rem;
      padding: 10px;
      display: inline-block;
    }
     .register-form{
      background-color: black;
      position: relative;
      padding: 3rem;
      width: 90%;
      margin: 0 auto;
      p{
        line-height: 2.5rem;
      }
      section{
        width: 60%;
        color: $wit;
        font-family: $tekst;
        line-height: 150%;
        font-size: 1.4rem;
        strong{
          color: $geel;
        }
      }
      .fieldsets{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 3rem;
        fieldset{
          width: 45%;
          display: flex;
          flex-direction: column;
          position: relative;
        }
        label{
          color: $wit;
          opacity: 0.4;
          font-family: $titel;
          position: absolute;
          bottom: 0;
          left: 50%;
          text-align: center;
          font-size: 3rem;
          transform: translate(-50%,-50%);
        }
      }
      input[type='submit']{
        background-color: $geel;
        border: none;
        color: black;
        font-size: 1.8rem;
        font-family: $titel;
        padding: 10px;
        position: absolute;
        left: 90%;
        bottom: 0;
        transform: rotate(-3deg);
      }
    }
    .clipboard{
      position:absolute;
      right:5%;
      top:-30%;
    }
    .triggerregistreer{
      position:absolute;
      right:40%;
      top:-30%;
      animation: floating 2s infinite;
    }
  }

}
