$geel: #E8C51E;
$groen: #21261B;
$wit: #FEFEFE;

  .header{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: Lietz;
    font-size: 4.5em;
    .texts{
      text-align: center;
      width: 70%;
      margin: 0 auto;
      margin-top: 6.6rem;
      h1{
        margin: 0 auto;
      }
    }
    .neemdeel{
      color: $geel;
      width: 55%;
      padding: 10px 0px 8px 0px;
      background-color: $groen;
      transform: rotate(-3deg);
    }
    .kansop, .stapelsboeken{
      color: $wit;
      padding: 10px 0px 8px 0px;
      background-color: $groen;
      width: 90%;
    }
    .kansop{
      transform: rotate(-1deg);
    }
    .stapelsboeken{
      width: 82%;
      transform: rotate(0.7deg);
    }
  } //END HEADER

.diagonal{
  height: 40px;
  width: 100%;
  background-color: $groen;
  transform: rotate(-1deg);
}

.title{
  font-family: Lietz;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 5px;
  font-size: 2rem;
}

.main-container{
  margin-top: -1rem;
  padding-top: 3rem;
  width: 100%;
  background-color: $groen;
  .login-section{
    width: 1024px;
    margin: 0 auto;
    header{
      width: 80%;
      margin: 0 auto;
      .login-title{
        color: $geel;
        background-color: black;
        width: 12%;
        transform: rotate(-1deg);
        margin-left: 2rem;
      }
      .upload-title{
        color: $wit;
        font-size: 1.2rem;
        background-color: black;
        width: 14%;
      }
    }
    .login-form{
      width: 65%;
      margin: 0 auto;
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      input[type="email"], input[type="password"]{
        background-color: transparent;
        margin-bottom: 3rem;
        padding-bottom: 2px;
        color: $wit;
        font-family: Gothic;
        font-size: 1.6rem;
        border: none;
        border-bottom: $wit 2px solid;
        width: 100%;
      }
    }
  }

}




