//////////
//HEADER
/////////


.home-wrapper{
  height: 500px;
  width: 100%;
}

.header-home{
  @include centerdesktop;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: $titel;
  font-size: 3.5em;
  text-transform: uppercase;
  position: relative;
}

.header-titles{
  @include centerdesktop;
  text-align: center;
  margin-top: 21rem;
  z-index: 40;
}

.wewantyou, .tospread, .animalism{
  @include titlepadding();
  background: url('/assets/img/groenebg1.png') repeat;
  color: $wit;
  margin: 0 auto;
}

.wewantyou{
  transform: rotate(-1deg);
}

.animalism{
  font-size: 7rem;
  color: $geel;
  transform: rotate(-0.7deg);
}

.pig-foto{
  width: 100%;
  height: 100%;
  background: url('/assets/img/homeheader.png') no-repeat;
  background-position: center center;
  position: absolute;
  margin-top: 2rem;
}

.introtext{
  font-family: $bold;
  @include centerdesktop;
  width: 50%;
  color: $geel;
  text-align: center;
  background: url('/assets/img/groenebg1.png') repeat;
  font-size:1.5rem;
  margin-top: -100px;
  position:relative;
  z-index:100;
}

.triggerhome{
  position:absolute;
  animation: floating 2s infinite;
  top:200px;
  left:70%;
}


/////////
//STAPPEN
/////////


.stappen{
  @include centerdesktop;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  z-index:100;
  .stap{
    article{
      display: flex;
      flex-direction: row;
    }
    p{
      width: 60%;
      padding: 2.5rem;
      background-color:black;
      line-height:2.8rem;
    }
  }
  .article-stap-title, .article-sub-title{
    font-size: 2rem;
    margin-bottom:-10px;
  }
  .article-stap-title{
    text-transform: uppercase;
     margin-bottom:-10px;
  }
}

.stap1{
  background: url('/assets/img/stap1.png') no-repeat;
  background-position:top-left;
  background-size:80%;
  width:800px;
  height:500px;
  article{
    margin-top:25rem;
  }
}

.stap2{
  margin-top:-9rem;
  background: url('/assets/img/stap2.png') no-repeat;
  background-position:top-left;
  background-size:80%;
  article{
    margin-top:25rem;
    width:80%;
    margin-left:10%;
  }
  .article-titles{
    margin-top:4rem;
  }
}

.stap3{
  background: url('/assets/img/stap3.1.png') no-repeat;
  background-position:top-left;
  position: relative;
  background-size:80%;
  z-index:100;
  article{
    margin-top:19rem;
    margin-bottom:5rem;
    margin-left:10%;
  }
  .varkenbg{
    background: url('/assets/img/stap3.2.png') no-repeat;
    background-position: center center;
    background-size:80%;
    height: 300px;
    width: 60%;
    top: 2px;
    left: 30%;
    position:absolute;
  }
  .verstuur{
    margin-bottom:3px;
  }
}

////////
//QUOTE
///////


.quote{
  margin-top: 2rem;
  height: 700px;
  margin-top:-150px;
  background: url('/assets/img/orwellbg.png') no-repeat;
  background-size: cover;
  .quote-wrapper{
    width: 80%;
    margin: 0 auto;
    padding-top: 280px;
    text-align: center;
    transform: rotate(-1.5deg);
  }
  .the-quote{
    font-family: $bold;
    font-size: 1.8rem;
    line-height: 200%;
  }
  .quote-author{
    padding-bottom:40px;
    margin: 0 auto;
    font-size: 1.4rem;
    transform: rotate(-1.5deg);
  }
}
.button{
  transform: rotate(1.5deg);
  text-decoration: none;
  @include titlepadding();
  text-align: center;
  color: $geel;
  font-size: 1.2rem;
  margin: 0 auto;

  .arrow{
    width:10px;
  }
}

/////////////
//CONCURENTEN
/////////////


.concurenten{
    width: 100%;
    background: url('/assets/img/groenebg1.png') repeat;
    padding-bottom: 3rem;
    margin-top:-100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4{
      transform: skewY(2deg);
      @include titlepadding();
      align: center;
      margin: 0 auto;
      background-color: black;
      font-size: 2rem;
      text-align: center;
      font-family: $titel;
      color: $geel;
    }
    ul{
      transform: skewY(2deg);
      padding-bottom: 50px;
    }
    .concurenten-wrapper{
      @include centerdesktop;
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
}









