.home-wrapper{
  height: 400px;
  width: 100%;
  background-color: blue;
}

.header-home{
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: Lietz;
  font-size: 4.5em;
  text-transform: uppercase;
}

.header-titles{
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20rem;
}



