.upload{
  width:1024px;
  @include centerdesktop;
  position:relative;
  z-index:100;

  .login-section h2{
    margin-top:2rem;
  }
  h3{
    @include titlepadding;
    font-size:1rem;
    margin-bottom:0;
    font-size:1.2rem
  }
  h2{
    @include titlepadding;
    color:$geel;
    transform: rotate(-2deg);
  }
}

.checkup{
  margin-left:20%;
    ul{
      background-color:black;
      padding:50px;
      color:$wit;
      width:60%;
    }
    li{
      font-family:$tekst;
      line-height:2.5rem;
      font-size:1.5rem;
    }
  }

.pollaroid{
  position:absolute;
  right:15%;
  top:5%;
}

.upload-section{
  @include centerdesktop;
  width:60%;

  h2{
    margin-top:40px;
  }

  .upload-form{
    background-color:#000;
    display:flex;
    flex-direction:column;
    padding:3.5rem;

    .p-label{
      font-family: $titel;
      letter-spacing: 1.2px;
      font-size: 1.4rem;
      padding: 0.7rem;
      color: $wit;
      width: 50%;
    }
    label{
      cursor: pointer;
      color:#fff;
      font-family: $tekst;
      display: flex;
      align-items: center;
      background: transparent;
      color: $wit;
      border: 1px solid $wit;
      width: 50%;
      padding: 0.7rem;
      padding-left: 1rem;
      margin-bottom: 2rem;
      font-size: 1.2rem;
      line-height:2.5rem;
    }
    .upload-field{
      display:flex;
      flex-direction:row;
    }

    #image-upload, #review-upload{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    input[type='submit']{
      background-color: $geel;
      border: none;
      color: black;
      font-size: 1.8rem;
      font-family: $titel;
      padding: 10px;
      position: absolute;
      left: 70%;
      bottom: 0;
      transform: rotate(-3deg);
    }
  }
}
