@keyframes fade-away {
    0%   {}
    25%  {}
    60%  {top: 10%; opacity: 1;}
    75%  {}
    100% {top: 20%; opacity: 0;}
}

@keyframes floating {
    0%   {transform:translate3d(0, 0px, 0);}
    25%  {}
    50%  {transform:translate3d(0, 15px, 0);}
    75%  {}
    100% {transform:translate3d(0, -0px, 0);}
}

@keyframes into-swipe {
    0%   {left: 100%;}
    25%  {}
    50%  {}
    75%  {}
    100% {left: 20%;}
}

@keyframes out-swipe {
    0%   {left: 20%;}
    25%  {}
    50%  {}
    75%  {}
    100% {left: 100%;}
}
