@media only screen and (max-width: 1024px){
  .header-home{
    width: 100%;
  }

  .navigation-wrapper{
    width: 100%;
  }
  .triggerhome{
    top: 180px;
    left: 70%;
  }
   .introtext{
    width: 80%;
  }
  .stappen{
    width: 100%;
  }
  .stap{
    margin: 0 auto;
    width: 70%;
  }
  .quote{
    width: 100%;
  }
  .quote-wrapper{
    width: 100%;
  }
  .the-quote{
    width: 100%;
  }
  .quote-author{
    width: 100%;
  }
  .concurenten-wrapper li{
    margin-top: 2rem;
  }
  .header{
    width: 100%;
  }
  .deelnemerfotos{
    width: 100%;
    ul{
      justify-content: space-around;
    }
  }
  .deelnemersonderaan{
    width: 100%;
  }

  .main-container .login-section, .main-container .register-section{
    width: 100%;
  }

  .main-container .register-section .register-form input[type='submit']{
    position: relative;
    left: auto;
    bottom: auto;
    transform: none;
    width: 100%;
    padding: 2rem;
  }

  .bottomnav{
    width: 100%;
  }

  .concurenten .concurenten-wrapper{
    width: 100%;
  }

}

@media only screen and (max-width: 1000px){
  .stappen{
    width: 100%;
  }
  .stap{
    width: 80%;
  }
}

@media only screen and (max-width: 985px){
  .deelnemersonderaan nav ul{
    background: none;
  }
}

@media only screen and (max-width: 900px){
  .quote{
    height: 800px;
  }
  .stap{
    width: 100%;
    article{
      display: flex;
      justify-content: center;
    }
  }
  .stap1, .stap2, .stap3{
    background-position: center;
  }

  .clipboard{
    display: none;
  }

  .main-container .register-section .register-form section{
    width: 100%;
  }
}

@media only screen and (max-width: 800px){
  .fieldsets{
    flex-direction: column;
  }

  .main-container .register-section .register-form .fieldsets fieldset{
    width: 100%;
  }
}

@media only screen and (max-width: 740px){
  //////////
  //HEADER
  /////////

  .home-wrapper{
    height: 400px;
  }
  .pig-foto{
    width: 100%;
    background: url('/assets/img/headermobiel.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 6.5rem;
    background-size: 600px;
  }
  .header-titles{
    font-size: 2.5rem;
    .animalism{
      font-size: 4rem;
    }
  }
  .introtext{
    width: 100%;
  }
  .the-quote{
    font-size: 2rem;
  }
  .button{
    padding: 1.5rem;
    color: black;
    width: 85%;
    background-color: $geel;
    .arrow{
      display: none;
    }
  }
  .bottomnav{
    flex-direction: row-reverse;
    padding-bottom: 6rem;
  }
  .bottomnav .seccondnav{
    display: none;
  }
  .topnav{
    display: none;
  }
  .main-container .login-section .login-form{
    width: 85%;
  }
  .main-container .login-section .login-form .login-submit{
    position: relative;
    left: auto;
    bottom: auto;
    transform: none;
    padding: 2rem;
    width: 100%;
  }
  .main-container .login-section header{
    width: 85%;
  }
}

@media only screen and (max-width: 630px){
  .deelnementexts{
    font-size: 4rem;
  }
}

@media only screen and (max-width: 590px){
  .concurenten-wrapper{
    li{
      width: 100%;
      margin-top: 0;
      img{
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 600px){
  .deelnemerfotos ul li{
    width: 80%;
  }
  .deelnemerfotos ul li img{
    width: 100%;
  }

  .article-stap-title, .article-sub-title{
    width: 0 auto;
  }
  .texts{
    padding-top: 4rem;
    font-size: 3.2rem;
  }
  .header-wrapper{
    background-size: 80%;
  }
}

@media only screen and (max-width: 500px){
  .quote{
    height: 1000px;
  }
  .concurenten-wrapper{
    li{
      width: 100%;
    }
  }
}

@media only screen and (max-width: 460px){
  .texts{
    padding-top: 5.5rem;
    font-size: 2.6rem;
  }
}
