@media only screen and (max-width: 1024px){

  ////////
  //HEADER
  ////////
  .header-home{
    width: 100%;
  }

  ////////
  //NAV
  ////////
  .topnav .navigation-wrapper{
    width:100%;
    ul{
      width: 100%;
    }
  }

  ////////
  //HOME
  ////////
  .triggerhome{
    top: 180px;
    left: 70%;
  }

   .introtext{
    width: 80%;
  }

  .stappen{
    width: 100%;
  }

  .stap{
    margin: 0 auto;
    width: 70%;
  }

  .quote{
    width: 100%;
  }

  .quote-wrapper{
    width: 100%;
  }

  .the-quote{
    width: 100%;
  }

  .quote-author{
    width: 100%;
  }

  .concurenten-wrapper li{
    margin-top: 2rem;
  }

  ////////////
  //DEELNEMERS
  ////////////

  .header{
    width: 100%;
  }

  .deelnemerfotos{
    width: 100%;
    ul{
      justify-content: space-around;
    }
  }

  .deelnemersonderaan{
    width: 100%;
  }

  .reviews{
    width: 100%;
  }

  ////////
  //LOGIN
  ///////

  .main-container .login-section, .main-container .register-section{
    width: 100%;
  }

  .main-container .register-section .register-form input[type='submit']{
    position: relative;
    left: auto;
    bottom: auto;
    transform: none;
    width: 100%;
    padding: 2rem;
  }

  .bottomnav{
    width: 100%;
  }

  .concurenten .concurenten-wrapper{
    width: 100%;
  }


  //////
  //BOEK
  //////

  .container{
    width:100%;
  }

  .boek{
    margin:0 2rem;
    .boekimg{
      width:40%;
    }
  }

  .schrijver{
    .quote2{
      width:100%;
    }
  }

  .orwell{
    width: 100%;
    padding:40px;
  }

  //////////
  //UPLOAD
  /////////

  .upload{
    position: relative;
    left: auto;
    bottom: auto;
    transform: none;
    width: 100%;
    padding: 2rem;
  }

  .checkup{
    margin-left:10%;
  }

  .upload-section{
    margin-left:10%;
    width:75%;
  }
}

@media only screen and (max-width: 1000px){
  .stappen{
    width: 100%;
  }
  .stap{
    width: 80%;
  }

}

@media only screen and (max-width: 985px){
  .deelnemersonderaan nav ul{
    background: none;
  }
}

@media only screen and (max-width: 900px){
  .quote{
    height: 800px;
  }
  .stap{
    width: 100%;
    article{
      display: flex;
      justify-content: center;
    }
  }
  .stap1, .stap2, .stap3{
    background-position: center;
  }

  .clipboard{
    display: none;
  }

  .main-container .register-section .register-form section{
    width: 100%;
  }

  ////////
  //UPLOAD
  ////////
  .pollaroid{
    margin-top:50px;
    width: 30%;
  }
}

@media only screen and (max-width: 800px){
  .fieldsets{
    flex-direction: column;
  }

  .main-container .register-section .register-form .fieldsets fieldset{
    width: 100%;
  }

  ///////////
  //UPLOAD
  /////////

  .pollaroid{
    position: relative;
    width:300px;
    margin-top:-10px;
    left:20%;
  }
  .checkup{
    width:130%;
  }

  .upload-field{
    flex-direction:column;
  }
}

@media only screen and (max-width: 890px){
  /////////
  //BOEK
  ////////

  .boek{
    flex-direction:column;

    .tekst{
      margin:0 10%;
    }
    .boekimg{
      order:1;
      display:none;
    }
  }
  .orwell{
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    .orwell-block{
      width:80%;
      h3{
        margin-left:0;
      }
      p{
        width: 100%;
      }
    }
    .awards{
      display:flex;
      h3{
        margin-top:20px;
      }
      p{
        width:100%;
      }
      img{
        margin-left:50px;
      }
    }
  }
}


@media only screen and (max-width: 740px){
  //////////
  //HEADER
  /////////

  .home-wrapper{
    height: 400px;
  }
  .pig-foto{
    width: 100%;
    background: url('/assets/img/headermobiel.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 6.5rem;
    background-size: 600px;
  }
  .header-titles{
    font-size: 2.5rem;
    .animalism{
      font-size: 4rem;
    }
  }

  //////////
  //HOME
  /////////

  .introtext{
    width: 100%;
    margin-top:-50px;

  }
  .the-quote{
    font-size: 2rem;
  }
  .button{
    padding: 1.5rem;
    color: black;
    width: 85%;
    background-color: $geel;
    .arrow{
      display: none;
    }
  }
  .stappen{
    .stap{
      article{
        display: flex;
        flex-direction: column;

        .article-titles{
          margin-left:10%;
        }

        .tweetekst{
          order:1;
        }

        p{
          margin: 0 auto;
          margin-top:-23px;
        }
      }
      h2, h3{
        @include titlepadding;
      }
    }
  }
  .stap3{
    margin-top:100px;
  }
  .stappen .stap3 article .article-titles{
    margin-top:-200px;
  }

  //////////
  //NAV
  /////////

  .bottomnav{
    flex-direction: row-reverse;
    padding-bottom: 6rem;
  }

  .bottomnav .seccondnav{
    display: none;
  }

  .topnav{
    display: none;
  }

  .mobile-nav{
    display: inline;
  }

  .downloadbutton{
    position:fixed;
    z-index:999999;
    top:-5px;
    left:40%;
  }

  //////////
  //DEELNEMER
  /////////

  .main-container .login-section .login-form{
    width: 85%;
  }
  .main-container .login-section .login-form .login-submit{
    position: relative;
    left: auto;
    bottom: auto;
    transform: none;
    padding: 2rem;
    width: 100%;
  }
  .main-container .login-section header{
    width: 85%;
  }

}

@media only screen and (max-width: 630px){
  .deelnementexts{
    font-size: 4rem;
  }
  .reviews{
    .items{
      display:flex;
      flex-direction:column;
    }
  }
}

@media only screen and (max-width: 590px){
  .concurenten-wrapper{
    li{
      width: 100%;
      margin-top: 0;
      img{
        width: 100%;
      }
    }
  }

  /////////
  //BOEK
  /////////
  .boek{
    margin: 0 0;

    h3{
      margin-left:2rem;
    }
    ul{
      margin-left:2rem;
    }
  }

  .orwell .orwell-block{
    width: 100%;

    h3{
      margin-left:2rem;
    }
  }

  .orwell{
    width: 100%;
    padding:0px;
  }
  .awards{
    display:flex;
    flex-direction:column;
    img{
      margin-top:-3rem;
    }
  }
}

@media only screen and (max-width: 600px){
  .deelnemerfotos ul li{
    width: 80%;
  }
  .deelnemerfotos ul li img{
    width: 100%;
  }

  .article-stap-title, .article-sub-title{
    width: 0 auto;
  }
  .texts{
    padding-top: 4rem;
    font-size: 3.2rem;
  }
  .header-wrapper{
    background-size: 80%;
  }
}

@media only screen and (max-width: 500px){
  .quote{
    height: 1000px;
  }
  .concurenten-wrapper{
    li{
      width: 100%;
    }
  }

  .stappen .stap p, .stappen .stap .tweetekst{
    width: 95%;
    margin: 0 auto;
  }
  .stap2{
    margin-top: 12rem;
  }
  .stap2 article{
    width: 100%;
    margin: 0 auto;
  }
  .stap3{
    margin-top: 20rem;
  }

  .stap3 article{
    width: 100%;
    margin: 0 auto;
  }

  .schrijver .author2{
    width:40%;
  }
}

@media only screen and (max-width: 460px){
  .texts{
    padding-top: 5.5rem;
    font-size: 2.6rem;
  }

  ///////
  ///BOEK
  ///////

  .boek{
    .tekst{
      margin:0 0;
      p{
        width:100%;
      }
    }
  }
  .schrijver .author2{
    width:40%;
  }
}
